.Register{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 600px;
    margin: auto;
}
.Register input{
    padding: 10px 15px;
}

.Register .btn{
    width: fit-content;
    margin: auto;
    padding: 10px 15px;
}
.Register p{
    color: red;
    margin-top: -10px;
}
body{
    width: fit-content;
    margin: auto;
}
